* {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

.dimmer {
  background-color: rgba(55,55,55,0.40);
  position: fixed;
  z-index: -1;
}

.bg {
  animation: slide 20s ease-in-out infinite alternate;
  background-image: linear-gradient(55deg, transparent 40%, #eb0028 40%, #eb0028 60%, transparent 60%);
  bottom: 0;
  left: -50%;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -2;
}

.bg-reverse {
  animation: slide 15s ease-in-out infinite alternate;
  background-image: linear-gradient(125deg, transparent 40%, #eb0028 40%, #eb0028 60%, transparent 60%);
  bottom: 0;
  left: -50%;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -4;
}

.bg2 {
  background-image: linear-gradient(125deg, #000000 47%, #000000 53%, transparent 53%);
  animation-direction: alternate-reverse;
  animation-duration: 60s;
  opacity: 0.01;
  left: -55%;
  z-index: -3;
}

.bg2.bg-reverse {
  background-image: linear-gradient(55deg, #000000 47%, #000000 53%, transparent 53%);
  animation-duration: 65s;
  opacity: 0.05;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

display-text {
  text-shadow: 4px 4px rgb(96,60,60);
}

.baner-img {
  -webkit-filter: drop-shadow(3px 3px 3px #222);
  filter: drop-shadow(3px 3px 3px #222);
}

.baner {
  min-height: 200px;
}

.timer-value {
  /*font-size: 5rem;*/
}

