* {
  margin: 0;
  padding: 0;
}

hr {
  margin: 1rem 0;
  color: var(--bs-black);
  border: 0;
  border-top: var(--bs-border-width) solid;
  opacity: .25;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

