<!DOCTYPE html>
<html data-bs-theme="light" lang="pl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>TEDxLublin 2024: ACCELERATE</title>
    <link rel="canonical" href="https://www.tedxlublin.org/templates/en/tickets.html">
    <meta property="og:url" content="https://www.tedxlublin.org/templates/en/tickets.html">
    <meta property="og:type" content="website">
    <meta name="description" content="Dołącz do nas na TEDxLublin 2024, gdzie motywem przewodnim jest &quot;ACCELERATE&quot;. Odkryj, jak przyspieszać zmiany w technologii, społeczeństwie i środowisku. Inspirujące wystąpienia, wizjonerscy mówcy i unikalne doświadczenia czekają na Ciebie 7 września w Lublinie. Zarezerwuj swoje miejsce już dziś!">
    <meta name="" content="">
    <meta property="og:image" content="https://www.tedxlublin.org/assets/img/event_baners_horizontal/baner_black_v2.png">
    <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/Helvetica.css">
    <link rel="stylesheet" href="../../assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../../assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../../assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="../../assets/css/bs-theme-overrides.css">
    <link rel="stylesheet" href="../../assets/css/animation.css">
    <link rel="stylesheet" href="../../assets/css/footer.css">
    <link rel="stylesheet" href="../../assets/css/footer-pl.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="../../assets/css/lang-selector.css">
    <link rel="stylesheet" href="../../assets/css/navbar-en.css">
    <link rel="stylesheet" href="../../assets/css/navbar-overlay.css">
    <link rel="stylesheet" href="../../assets/css/partners-en.css">
    <link rel="stylesheet" href="../../assets/css/partners.compiled.css">
    <link rel="stylesheet" href="../../assets/css/Simple-Slider-swiper-bundle.min.css">
    <link rel="stylesheet" href="../../assets/css/styles.css">
{% load static %}
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'img/favicon.png' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'bootstrap/css/bootstrap.min.css' %}"
    />

<!-- HTML Meta Tags -->
<title>TEDxLublin 2024: ACCELERATE</title>
<meta name="description" content="Dołącz do nas na TEDxLublin 2024, gdzie motywem przewodnim jest "ACCELERATE". Odkryj, jak przyspieszać zmiany w technologii, społeczeństwie i środowisku. Inspirujące wystąpienia, wizjonerscy mówcy i unikalne doświadczenia czekają na Ciebie 7 września w Lublinie. Zarezerwuj swoje miejsce już dziś!">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://tedxlublin.live/templates/pl/team.html">
<meta property="og:type" content="website">
<meta property="og:title" content="TEDxLublin 2024: ACCELERATE">
<meta property="og:description" content="Dołącz do nas na TEDxLublin 2024, gdzie motywem przewodnim jest "ACCELERATE". Odkryj, jak przyspieszać zmiany w technologii, społeczeństwie i środowisku. Inspirujące wystąpienia, wizjonerscy mówcy i unikalne doświadczenia czekają na Ciebie 7 września w Lublinie. Zarezerwuj swoje miejsce już dziś!">
<meta property="og:image" content="https://opengraph.b-cdn.net/production/images/bfc3db1f-b574-4ecc-80c1-7d558f2709ae.png?token=cqc8OHidP0t4MPN8wcEVeXEo6JdHxrdHJmkNs9MyQfY&height=600&width=1200&expires=33258038345">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="tedxlublin.live">
<meta property="twitter:url" content="https://tedxlublin.live/templates/pl/team.html">
<meta name="twitter:title" content="TEDxLublin 2024: ACCELERATE">
<meta name="twitter:description" content="Dołącz do nas na TEDxLublin 2024, gdzie motywem przewodnim jest "ACCELERATE". Odkryj, jak przyspieszać zmiany w technologii, społeczeństwie i środowisku. Inspirujące wystąpienia, wizjonerscy mówcy i unikalne doświadczenia czekają na Ciebie 7 września w Lublinie. Zarezerwuj swoje miejsce już dziś!">
<meta name="twitter:image" content="https://opengraph.b-cdn.net/production/images/bfc3db1f-b574-4ecc-80c1-7d558f2709ae.png?token=cqc8OHidP0t4MPN8wcEVeXEo6JdHxrdHJmkNs9MyQfY&height=600&width=1200&expires=33258038345">

<!-- Meta Tags Generated via https://www.opengraph.xyz -->
</head>

<body>
    <div id="background-container">
        <div class="bg"></div>
        <div class="bg bg-reverse"></div>
        <div class="bg bg2"></div>
        <div class="bg bg-reverse bg2"></div>
        <div class="w-100 h-100 dimmer"></div>
    </div>
    <div class="overlay"></div>
    <nav class="navbar navbar-expand-lg fixed-top bg-body shadow">
        <div class="container-fluid p-1 mx-3"><a class="navbar-brand p-0" href="index.html"><img src="../../assets/img/logo-black.png"></a>
            <div class="collapse navbar-collapse" style="font-weight:bold;">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="accelerate.html">ACCELERATE</a></li>
                    <li class="nav-item"><a class="nav-link" href="about.html">ABOUT</a></li>
                    <li class="nav-item"><a class="nav-link" href="team.html">TEAM</a></li>
                    <li class="nav-item"><a class="nav-link" href="partners.html">PARTNERS</a></li>
                    <li class="nav-item"><a class="nav-link" href="contact.html">CONTACT</a></li>
                    <li class="nav-item"><a class="nav-link active rounded" href="tickets.html" id="tickets-btn" style="border-radius:0.5rem;">TICKETS</a></li>
                </ul>
            </div>
            <div class="sidebar">
                <div class="dismiss"><i class="fas fa-caret-left"></i></div>
                <div class="brand"><a href="index.html"><img src="../../assets/img/logo-white-accelerate.png" width="100%"></a></div>
                <nav class="navbar navbar-expand navbar-dark">
                    <div class="container-fluid">
                        <ul class="navbar-nav flex-column me-auto">
                            <li class="nav-item"><a class="nav-link" href="accelerate.html">ACCELERATE</a></li>
                            <li class="nav-item"><a class="nav-link" href="about.html">ABOUT</a></li>
                            <li class="nav-item"><a class="nav-link" href="team.html">TEAM</a></li>
                            <li class="nav-item"><a class="nav-link" href="partners.html">PARTNERS</a></li>
                            <li class="nav-item"><a class="nav-link" href="contact.html">CONTACT</a></li>
                            <li class="nav-item"><a class="nav-link active" href="tickets.html">TICKETS</a></li>
                        </ul>
                    </div>
                </nav>
            </div><button class="btn btn-primary d-flex d-lg-none open-menu sidebar-btn position-fixed" type="button"><i class="fa fa-navicon"></i></button>
        </div>
    </nav>
    <section class="mt-5 bg-light pt-5">
        <div class="container">
            <div class="row justify-content-md-center pt-2">
                <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
                    <h2 class="text-uppercase fs-6 text-center text-secondary mb-2">have you heard about</h2>
                    <h2 class="text-uppercase fw-bold mb-3 text-center">our upcoming event</h2>
                    <hr class="mx-auto w-50 mb-5 mb-xl-9 border-dark-subtle">
                </div>
            </div>
        </div>
        <div class="pb-5 d-flex justify-content-center"><img id="index-event-img"></div>
    </section>
    <div class="container py-4 py-xl-5">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto text-white">
                <h2 class="fw-bold">PURCHASE YOUR TICKETS</h2>
                <p class="w-lg-50">Curae hendrerit donec commodo hendrerit egestas tempus, turpis facilisis nostra nunc. Vestibulum dui eget ultrices.</p>
            </div>
        </div>
        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3 d-xl-flex">
            <div class="col">
                <div class="card mb-4">
                    <div class="card-body text-center p-4">
                        <h4 class="fw-bold card-subtitle">Free</h4>
                        <h4 class="display-5 fw-bold card-title">$0</h4>
                        <p>Non vulputate feugiat semper.</p><a class="btn btn-light d-block w-100" role="button" href="#">Button</a>
                    </div>
                </div>
                <div class="bg-body-tertiary border rounded border-0 p-4">
                    <ul class="list-unstyled">
                        <li class="d-flex mb-2"><span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg">
                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                </svg></span><span>Lectus ut nibh quam, felis porttitor.</span></li>
                        <li class="d-flex mb-2"><span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg">
                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                </svg></span><span>Ante nec venenatis etiam lacinia.</span></li>
                        <li class="d-flex mb-2"><span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg">
                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                </svg></span><span>Porta suscipit netus ad ac.</span></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="card border-primary border-2 mb-4">
                    <div class="card-body text-center p-4"><span class="badge rounded-pill bg-primary position-absolute top-0 start-50 translate-middle text-uppercase">Most Popular</span>
                        <h4 class="fw-bold card-subtitle">Pro</h4>
                        <h4 class="display-5 fw-bold card-title">$38<span class="fs-4 fw-normal text-muted">/mo</span></h4>
                        <p>Varius rutrum duis vel.</p><a class="btn btn-primary d-block w-100" role="button" href="#">Button</a>
                    </div>
                </div>
                <div class="bg-body-tertiary border rounded border-0 p-4">
                    <ul class="list-unstyled">
                        <li class="d-flex mb-2"><span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg">
                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                </svg></span><span>Lectus ut nibh quam, felis porttitor.</span></li>
                        <li class="d-flex mb-2"><span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg">
                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                </svg></span><span>Ante nec venenatis etiam lacinia.</span></li>
                        <li class="d-flex mb-2"><span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg">
                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                </svg></span><span>Porta suscipit netus ad ac.</span></li>
                        <li class="d-flex mb-2"><span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg">
                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                </svg></span><span>Morbi praesent aptent integer at.</span></li>
                        <li class="d-flex mb-2"><span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg">
                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                </svg></span><span>Nisl potenti ut auctor lobortis.</span></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4">
                    <div class="card-body text-center p-4">
                        <h4 class="fw-bold card-subtitle">Enterprise</h4>
                        <h4 class="display-5 fw-bold card-title">$70<span class="fs-4 fw-normal text-muted">/mo</span></h4>
                        <p>Et lacinia fringilla massa.</p><a class="btn btn-dark d-block w-100" role="button" href="#">Button</a>
                    </div>
                </div>
                <div class="bg-body-tertiary border rounded border-0 p-4">
                    <ul class="list-unstyled">
                        <li class="d-flex mb-2"><span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg">
                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                </svg></span><span>Lectus ut nibh quam, felis porttitor.</span></li>
                        <li class="d-flex mb-2"><span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg">
                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                </svg></span><span>Ante nec venenatis etiam lacinia.</span></li>
                        <li class="d-flex mb-2"><span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg">
                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                </svg></span><span>Porta suscipit netus ad ac.</span></li>
                        <li class="d-flex mb-2"><span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg">
                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                </svg></span><span>Morbi praesent aptent integer at.</span></li>
                        <li class="d-flex mb-2"><span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg">
                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                </svg></span><span>Nisl potenti ut auctor lobortis.</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <section class="newsletter-subscribe p-3 py-xl-5">
        <div class="container">
            <div class="row mb-2">
                <div class="col-md-8 col-xl-6 mx-auto text-white">
                    <h2 class="display-6 lead display-shadow">Subscribe to our newsletter</h2>
                    <p class="display-shadow">Curae hendrerit donec commodo hendrerit egestas tempus, turpis facilisis nostra nunc. Vestibulum dui eget ultrices.</p>
                </div>
            </div>
            <form class="d-flex justify-content-center flex-wrap" method="post">
                <div class="mb-3"><input class="form-control form-control" type="email" name="email" placeholder="Your Email"></div>
                <div class="mb-3"><button class="btn btn-primary ms-2" type="submit">Subscribe </button></div>
            </form>
        </div>
    </section>
    <footer class="page-footer shadow-lg p-3">
        <div class="container p-3">
            <div class="row">
                <div class="col">
                    <div class="region"><a href="#"><img class="m-1" src="../../assets/img/logo-black.png"></a></div>
                </div>
            </div>
            <div class="row g-4">
                <div class="col-6 col-md-3">
                    <h5 class="text-uppercase mb-3">Accelerate 2024</h5>
                    <ul class="list-unstyled">
                        <li><a class="text-muted text-decoration-none" href="#">Speakers</a></li>
                        <li><a class="text-muted text-decoration-none" href="#">Agenda</a></li>
                        <li><a class="text-muted text-decoration-none" href="#">Partners</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-3">
                    <h5 class="text-uppercase mb-3">Event</h5>
                    <ul class="list-unstyled">
                        <li><a class="text-muted text-decoration-none" href="#">About</a></li>
                        <li><a class="text-muted text-decoration-none" href="#">Attend</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-3">
                    <h5 class="text-uppercase mb-3">Join Us</h5>
                    <ul class="list-unstyled">
                        <li><a class="text-muted text-decoration-none" href="#">Volunteers</a></li>
                        <li><a class="text-muted text-decoration-none" href="#">Speakers</a></li>
                        <li><a class="text-muted text-decoration-none" href="#">Partners</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-3">
                    <h5 class="text-uppercase mb-3">Follow Us</h5>
                    <div class="d-flex gap-3"><a href="#" class="text-muted"><i class="fab fa-facebook-f fa-lg"></i></a><a href="#" class="text-muted"><i class="fab fa-twitter fa-lg"></i></a><a href="#" class="text-muted"><i class="fab fa-linkedin-in fa-lg"></i></a><a href="#" class="text-muted"><i class="fab fa-github fa-lg"></i></a></div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="footer-legal"></div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <div class="footer-legal">
                        <p><br><span style="font-weight: normal !important; color: rgb(107, 114, 128);">@ 2024 - TEDxLublin. All rights reserved</span><br><br></p>
                    </div>
                </div>
                <div class="col">
                    <div class="footer-legal">
                        <p><br><span style="font-weight: normal !important; color: rgb(107, 114, 128);">This independent TEDx event is operated under license from TED</span><br><br><br></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="../../assets/js/sidebar.js"></script>
    <script src="../../assets/js/swiper.js"></script>
    <script src="../../assets/js/timer.js"></script>
</body>

</html>