
{% extends 'base.html' %}

{% block lang %}pl{% endblock %}

{% block preload %}
{% endblock %}

{% block extra_meta %}
<link rel="canonical" href="https://www.tedxlublin.org/pl/">
<meta name="description" content="Zostań partnerem TEDxLublin i wspólnie budujmy wydarzenia, które łączą i inspirują ludzi.">

{% endblock %}

{% block title %}
Formularz - partner  | TEDxLublin 2024: ACCELERATION
{% endblock %}

{% block og_tags %}
<meta property="og:title" content="Formularz - partner  | TEDxLublin 2024: ACCELERATION">
<meta property="og:url" content="https://www.tedxlublin.org/pl">
{% endblock %}

{% block twitter_tags %}
<meta name="twitter:title" content="Formularz - partner  | TEDxLublin 2024: ACCELERATION">
<meta property="twitter:url" content="https://www.tedxlublin.org/pl">
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block pre_js %}
{% endblock %}




{% block main %}
{% include 'pl/components/spacing_baner.html' %}
<section class="bg-light shadow-lg py-5">
        <div class="container">
            <div class="border rounded border-0 border-dark overflow-hidden bg-secondary">
                <div class="row g-0">
                    <div class="col-md-6">
                        <div class="text-white p-4 p-md-5">
                            <h2 class="fw-bold text-white mb-3">ZOSTAŃ NASZYM PARTNEREM</h2>
                            <p class="mb-4">Chcesz wesprzeć rozwój innowacyjnych pomysłów i promować swoją markę wśród zaangażowanej społeczności? </p>
                            <p class="mb-4">Dołącz do nas jako partner TEDx Lublin! Współpracując z nami, zyskasz wyjątkową możliwość dotarcia do kreatywnych i przedsiębiorczych umysłów. Twój wkład pomoże nam realizować inspirujące projekty i organizować wydarzenia, które mają realny wpływ na społeczeństwo. Razem możemy tworzyć przestrzeń dla wymiany wiedzy i wspierać innowacyjne idee. Zostań naszym partnerem i wspólnie kształtujmy przyszłość!</p>
                            <p class="mb-4">Dziękujemy za zainteresowanie wsparciem TEDxLublin. Z niecierpliwością czekamy na możliwość współpracy!</p>
                        </div>
                    </div>
                    <div class="col-md-6 d-xxl-flex order-first order-md-last align-items-xxl-center" style="min-height: 250px;"><img id="sponsor-event-img" class="w-100 h-100 fit-cover"></div>
                </div>
            </div>
            <section class="container my-5">
                <h2 class="fw-bold mb-4">Zgłoszenie partnera</h2>
                <p>Uprzejmie prosimy, abyś wypełnił/a poniższy formularz.</p>
                <div class="alert alert-info" role="alert"><strong>REJESTRACJA ZAKOŃCZONA:</strong><span> Formularz zgłoszeniowy jest tymczasowo zamknięty, zachęcamy do bezpośredniego kontaktu.</span></div>
            </section>
        </div>
    </section>
    {% include 'pl/components/newsletter.html' %}
{% endblock %}

{% block extra_js %}
<script src="/assets/js/modals.js"></script>
{% endblock %}
