
{% extends 'base.html' %}

{% block lang %}pl{% endblock %}

{% block preload %}
{% endblock %}

{% block extra_meta %}
<link rel="canonical" href="https://www.tedxlublin.org/pl/">
<meta name="description" content="Zgłoś swoją kandydaturę jako mówca TEDxLublin i podziel się swoimi pomysłami z lokalną społecznością.">

{% endblock %}

{% block title %}
Formularz - prelegent | TEDxLublin 2024: ACCELERATION
{% endblock %}

{% block og_tags %}
<meta property="og:title" content="Formularz - prelegent | TEDxLublin 2024: ACCELERATION">
<meta property="og:url" content="https://www.tedxlublin.org/pl/contact/speakers/">
{% endblock %}

{% block twitter_tags %}
<meta name="twitter:title" content="Formularz - prelegent | TEDxLublin 2024: ACCELERATION">
<meta property="twitter:url" content="https://www.tedxlublin.org/pl/pl/contact/speakers/">
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block pre_js %}
{% endblock %}




{% block main %}
{% include 'pl/components/spacing_baner.html' %}
<section class="bg-light shadow-lg py-5">
    <div class="container">
        <div class="bg-secondary border-0 border-dark border rounded overflow-hidden">
            <div class="row g-0">
                <div class="col col-12 col-xl-6">
                    <div class="text-white p-4 p-md-5">
                        <h2 class="fw-bold text-white mb-3">DOŁĄCZ DO NAS JAKO PRELEGENT</h2>
                        <p class="mb-4">Masz pasję, wiedzę i doświadczenie, które chcesz podzielić z innymi?</p>
                        <p class="mb-4">&nbsp;Dołącz do nas jako prelegent na TEDx Lublin! To wyjątkowa okazja, aby wystąpić przed inspirującą publicznością, nawiązać cenne kontakty i przyczynić się do szerzenia innowacyjnych idei. Twoje wystąpienie może zmieniać perspektywy, inspirować do działania i pozostawić trwały ślad. Nie czekaj – zgłoś się już dziś i stań się częścią naszego wyjątkowego wydarzenia!</p>
                        <p class="mb-4">Dziękujemy za zainteresowanie wsparciem TEDxLublin. Z niecierpliwością czekamy na możliwość współpracy!</p>
                    </div>
                </div>
                <div class="col col-12 col-xl-6" style="min-height:250px;"><img id="sponsor-event-img" class="w-100 h-100 fit-cover"></div>
            </div>
        </div>
        <section class="container my-5">
            <h2 class="fw-bold mb-4">Zgłoszenie prelegenta</h2>
            <p>Uprzejmie prosimy, abyś wypełnił/a poniższy formularz.</p>
            <div class="alert alert-info" role="alert"><strong>REJESTRACJA ZAKOŃCZONA:</strong><span> Formularz zgłoszeniowy jest tymczasowo zamknięty, zachęcamy do bezpośredniego kontaktu.</span></div>
        </section>
    </div>
</section>
    {% include 'pl/components/newsletter.html' %}
{% endblock %}

{% block extra_js %}
<script src="/assets/js/modals.js"></script>
{% endblock %}
