
{% extends 'base.html' %}

{% block lang %}pl{% endblock %}

{% block preload %}
{% endblock %}

{% block extra_meta %}
<link rel="canonical" href="https://www.tedxlublin.org/pl/">
<meta name="description" content="Dołącz do naszego zespołu wolontariuszy TEDxLublin i wspieraj tworzenie inspirujących wydarzeń w Lublinie.">

{% endblock %}

{% block title %}
Formularz - wolontariusz | TEDxLublin 2024: ACCELERATION
{% endblock %}

{% block og_tags %}
<meta property="og:title" content="Formularz - wolontariusz | TEDxLublin 2024: ACCELERATION">
<meta property="og:url" content="https://www.tedxlublin.org/pl/contact/volunteers/">
{% endblock %}

{% block twitter_tags %}
<meta name="twitter:title" content="Formularz - wolontariusz | TEDxLublin 2024: ACCELERATION">
<meta property="twitter:url" content="https://www.tedxlublin.org/pl/contact/volunteers/">
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block pre_js %}
{% endblock %}




{% block main %}
{% include 'pl/components/spacing_baner.html' %}
    <section class="bg-light shadow-lg py-5">
        <div class="container">
            <div class="border rounded border-0 border-dark overflow-hidden bg-secondary">
                <div class="row g-0">
                    <div class="col col-12 col-xl-6">
                        <div class="text-white p-4 p-md-5">
                            <h2 class="fw-bold text-white mb-3">DOŁĄCZ JAKO WOLONTARIUSZ</h2>
                            <p class="mb-4">Chcesz być częścią inspirującego wydarzenia i zdobyć cenne doświadczenie? </p>
                            <p class="mb-4">Dołącz do nas jako wolontariusz TEDx Lublin! Twój entuzjazm i zaangażowanie są kluczowe dla sukcesu naszej konferencji. Jako wolontariusz będziesz miał okazję poznać fascynujących ludzi, pracować nad różnorodnymi projektami i rozwijać swoje umiejętności. Twoja pomoc będzie nieoceniona, a udział w TEDx Lublin stanie się niezapomnianym przeżyciem. Dołącz do nas i twórz wyjątkowe wydarzenie razem z nami!</p>
                            <p class="mb-4">Dziękujemy za zainteresowanie wsparciem TEDxLublin. Z niecierpliwością czekamy na możliwość współpracy!</p>
                        </div>
                    </div>
                    <div class="col col-12 col-xl-6" style="min-height: 250px;"><img id="sponsor-event-img" class="w-100 h-100 fit-cover"></div>
                </div>
            </div>
            <section class="container my-5">
                <h2 class="fw-bold mb-4">Zgłoszenie wolontariusza</h2>
                <p>Uprzejmie prosimy, abyś wypełnił/a poniższy formularz.</p>
                <div class="alert alert-info" role="alert"><strong>REJESTRACJA ZAKOŃCZONA:</strong><span> Formularz zgłoszeniowy jest tymczasowo zamknięty, zachęcamy do bezpośredniego kontaktu.</span></div>
            </section>
        </div>
    </section>
    {% include 'pl/components/newsletter.html' %}
{% endblock %}

{% block extra_js %}
<script src="/assets/js/modals.js"></script>
{% endblock %}
