<!DOCTYPE html>
<html data-bs-theme="light" lang="pl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>TEDxLublin 2024: ACCELERATE</title>
    <link rel="canonical" href="https://www.tedxlublin.live/templates/en/forms/volunteer_form.html">
    <meta property="og:url" content="https://www.tedxlublin.live/templates/en/forms/volunteer_form.html">
    <meta property="og:image" content="https://www.tedxlublin.live/assets/img/event_baners_horizontal/baner_white_v2.png">
    <meta name="" content="">
    <meta name="description" content="Dołącz do nas na TEDxLublin 2024, gdzie motywem przewodnim jest &quot;ACCELERATE&quot;. Odkryj, jak przyspieszać zmiany w technologii, społeczeństwie i środowisku. Inspirujące wystąpienia, wizjonerscy mówcy i unikalne doświadczenia czekają na Ciebie 7 września w Lublinie. Zarezerwuj swoje miejsce już dziś!">
    <meta property="og:type" content="website">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/Helvetica.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="/assets/css/bs-theme-overrides.css">
    <link rel="stylesheet" href="/assets/css/animation.css">
    <link rel="stylesheet" href="/assets/css/footer.css">
    <link rel="stylesheet" href="/assets/css/footer-pl.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="/assets/css/lang-selector.css">
    <link rel="stylesheet" href="/assets/css/navbar-en.css">
    <link rel="stylesheet" href="/assets/css/navbar-overlay.css">
    <link rel="stylesheet" href="/assets/css/partners-en.css">
    <link rel="stylesheet" href="/assets/css/partners.compiled.css">
    <link rel="stylesheet" href="/assets/css/Simple-Slider-swiper-bundle.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
{% load static %}
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'img/favicon.png' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'bootstrap/css/bootstrap.min.css' %}"
    />
</head>

<body>
    <div id="background-container">
        <div class="bg"></div>
        <div class="bg bg-reverse"></div>
        <div class="bg bg2"></div>
        <div class="bg bg-reverse bg2"></div>
        <div class="w-100 h-100 dimmer"></div>
    </div>
    <div class="overlay"></div>
    <nav class="navbar navbar-expand-lg fixed-top bg-body shadow">
        <div class="container-fluid p-1 mx-3"><a class="navbar-brand p-0" href="/templates/en/index.html"><img src="/assets/img/logo-black.png"></a>
            <div class="collapse navbar-collapse" style="font-weight:bold;">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/templates/en/accelerate.html">ACCELERATE</a></li>
                    <li class="nav-item"><a class="nav-link" href="/templates/en/about.html">ABOUT</a></li>
                    <li class="nav-item"><a class="nav-link" href="/templates/en/team.html">TEAM</a></li>
                    <li class="nav-item"><a class="nav-link" href="/templates/en/partners.html">PARTNERS</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/templates/en/contact.html">CONTACT</a></li>
                    <li class="nav-item"><a class="nav-link rounded" href="/templates/en/tickets.html" id="tickets-btn-1" style="border-radius:0.5rem;">TICKETS</a></li>
                </ul>
            </div>
            <div class="sidebar">
                <div class="dismiss"><i class="fas fa-caret-left"></i></div>
                <div class="brand"><a href="/templates/en/index.html"><img src="/assets/img/logo-white-accelerate.png" width="100%"></a></div>
                <nav class="navbar navbar-expand navbar-dark">
                    <div class="container-fluid">
                        <ul class="navbar-nav flex-column me-auto">
                            <li class="nav-item"><a class="nav-link" href="/templates/en/accelerate.html">ACCELERATE</a></li>
                            <li class="nav-item"><a class="nav-link" href="/templates/en/about.html">ABOUT</a></li>
                            <li class="nav-item"><a class="nav-link" href="/templates/en/team.html">TEAM</a></li>
                            <li class="nav-item"><a class="nav-link" href="/templates/en/partners.html">PARTNERS</a></li>
                            <li class="nav-item"><a class="nav-link active" href="/templates/en/contact.html">CONTACT</a></li>
                            <li class="nav-item"><a class="nav-link" href="/templates/en/tickets.html">TICKETS</a></li>
                        </ul>
                    </div>
                </nav>
            </div><button class="btn btn-primary d-flex d-lg-none open-menu sidebar-btn position-fixed" type="button"><i class="fa fa-navicon"></i></button>
        </div>
    </nav>
    <section class="newsletter-subscribe p-3 py-xl-5 baner"></section>
    <section class="py-4 py-xl-5"></section>
    <section class="bg-light shadow-lg py-5">
        <div class="container">
            <div class="border rounded border-0 border-dark overflow-hidden bg-secondary">
                <div class="row g-0">
                    <div class="col col-12 col-xl-6">
                        <div class="text-white p-4 p-md-5">
                            <h2 class="fw-bold text-white mb-3">JOIN US AS VOLUNTEER</h2>
                            <p class="mb-4">It's a pleasure to see that you are interested in volunteering for TEDxLublin! We kindly ask you to fill out the form below. This is so we can get to know a little bit more about you. As a volunteer you will be tasked with helping us to make the event a success. Tasks differ from ticket scanning to assisting guests and helping out with other practical stuff. After the event we will celebrate with drinks to express gratitude for your help. We will contact you later with more information.</p>
                            <p class="mb-4">Thank you!</p>
                        </div>
                    </div>
                    <div class="col col-12 col-xl-6" style="min-height: 250px;"><img class="w-100 h-100 fit-cover" src="/assets/img/black_background_logo.png"></div>
                </div>
            </div>
        </div>
        <section class="container my-5">
            <h2 class="mb-4">VOLUNTEER APPLICATION</h2>
            <p class="lead">Thank you for your interest in volunteering for TEDxLublin!</p>
            <p>Please apply if you are able to commit to a full day of volunteering at the event, or are able to help with event support between now and the event.</p>
            <div class="alert alert-info" role="alert"><strong>PLEASE NOTE:</strong><span> Priority for day-of volunteers will be given to those who have been regularly involved in the months leading up to the event, as volunteer spots are limited. So — get involved as soon as possible if you want to experience TEDx from behind the scenes! </span></div>
            <p class="mb-4">If you do not hear back from us right away, please be patient. We are all volunteers! You can also email volunteer@tedxlublin.com to check on the status of TEDx volunteer meetings or sign up to our email list and select "Volunteer Opportunities".</p>
            <form>
                <div class="mb-3"><label class="form-label form-label" for="name">Name*</label><input class="form-control form-control" type="text" id="name" placeholder="First Last" required=""></div>
                <div class="mb-3"><label class="form-label form-label" for="email">Email*</label><input class="form-control form-control" type="email" id="email" required=""></div>
                <div class="mb-3"><label class="form-label form-label" for="phone">Phone</label><input class="form-control form-control" type="tel" id="phone"></div>
                <div class="mb-3"><label class="form-label form-label" for="why">Why do you want to be involved with TEDxLublin?*</label><textarea class="form-control form-control" id="why" required="" rows="3"></textarea></div>
                <div class="mb-3"><label class="form-label form-label">What aspect of the event do you feel you'd be best suited to be involved in?*</label><select class="form-select form-select" required="">
                        <option value="" selected="">Choose...</option>
                        <option value="">Event design</option>
                        <option value="">Event production</option>
                        <option value="">Technical team (AV/Video/Photo)</option>
                        <option value="">Administrative</option>
                        <option value="">Day-of volunteer team</option>
                        <option value="">Financial/budget team</option>
                        <option value="">Sponsorships &amp; Partnerships</option>
                        <option value="">Communications team (PR, social media, blogging etc.)</option>
                        <option value="">Audience Experience (activities, swag, etc.)</option>
                        <option value="">Stage Design</option>
                        <option value="">Speaker Coaching</option>
                        <option value="">Arts Integration (community art projects &amp; partnerships)</option>
                        <option value="">Performer Support</option>
                        <option value="">General/other</option>
                    </select></div>
                <div class="mb-3"><label class="form-label form-label">What kind of time would you be interested in volunteering?*</label>
                    <div class="form-check"><input type="checkbox" class="form-check-input" id="dayOf" value=""><label class="form-label form-check-label" for="dayOf">Day-of event</label></div>
                    <div class="form-check"><input type="checkbox" class="form-check-input" id="setup" value=""><label class="form-label form-check-label" for="setup">Setup day</label></div>
                    <div class="form-check"><input type="checkbox" class="form-check-input" id="breakdown" value=""><label class="form-label form-check-label" for="breakdown">Breakdown after event</label></div>
                    <div class="form-check"><input type="checkbox" class="form-check-input" id="smallTime" value=""><label class="form-label form-check-label" for="smallTime">Small time commitment, as needed (guest blog post, in-kind services, etc.)</label></div>
                    <div class="form-check"><input type="checkbox" class="form-check-input" id="regular" value=""><label class="form-label form-check-label" for="regular">Regular involvement in a planning / organizing team (Note: Priority for event volunteers given to those with most availability)</label></div>
                </div>
                <div class="mb-3"><label class="form-label form-label" for="experience">Please describe experience relevant to volunteering for this type of event*</label><textarea class="form-control form-control" id="experience" required="" rows="3"></textarea></div>
                <div class="mb-3"><label class="form-label form-label" for="favoriteTalk">Do you have a favorite TED talk or aspect of the TED or TEDx experience?</label><textarea class="form-control form-control" id="favoriteTalk" rows="2"></textarea></div>
                <div class="mb-3"><label class="form-label form-label" for="additional">Anything else we should know?</label><textarea class="form-control form-control" id="additional" rows="2"></textarea></div><button class="btn btn-primary" type="submit">Submit Application</button>
            </form>
        </section>
    </section>
    <section class="newsletter-subscribe p-3 py-xl-5">
        <div class="container">
            <div class="row mb-2">
                <div class="col-md-8 col-xl-6 mx-auto text-white">
                    <h2 class="display-6 lead display-shadow">Subscribe to our newsletter</h2>
                    <p class="display-shadow">Curae hendrerit donec commodo hendrerit egestas tempus, turpis facilisis nostra nunc. Vestibulum dui eget ultrices.</p>
                </div>
            </div>
            <form class="d-flex justify-content-center flex-wrap" method="post">
                <div class="mb-3"><input class="form-control form-control" type="email" name="email" placeholder="Your Email"></div>
                <div class="mb-3"><button class="btn btn-primary ms-2" type="submit">Subscribe </button></div>
            </form>
        </div>
    </section>
    <footer class="page-footer shadow-lg p-3">
        <div class="container p-3">
            <div class="row">
                <div class="col">
                    <div class="region"><a href="#"><img class="m-1" src="/assets/img/logo-black.png"></a></div>
                </div>
            </div>
            <div class="row g-4">
                <div class="col-6 col-md-3">
                    <h5 class="text-uppercase mb-3">Accelerate 2024</h5>
                    <ul class="list-unstyled">
                        <li><a class="text-muted text-decoration-none" href="#">Speakers</a></li>
                        <li><a class="text-muted text-decoration-none" href="#">Agenda</a></li>
                        <li><a class="text-muted text-decoration-none" href="#">Partners</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-3">
                    <h5 class="text-uppercase mb-3">Event</h5>
                    <ul class="list-unstyled">
                        <li><a class="text-muted text-decoration-none" href="#">About</a></li>
                        <li><a class="text-muted text-decoration-none" href="#">Attend</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-3">
                    <h5 class="text-uppercase mb-3">Join Us</h5>
                    <ul class="list-unstyled">
                        <li><a class="text-muted text-decoration-none" href="#">Volunteers</a></li>
                        <li><a class="text-muted text-decoration-none" href="#">Speakers</a></li>
                        <li><a class="text-muted text-decoration-none" href="#">Partners</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-3">
                    <h5 class="text-uppercase mb-3">Follow Us</h5>
                    <div class="d-flex gap-3"><a href="#" class="text-muted"><i class="fab fa-facebook-f fa-lg"></i></a><a href="#" class="text-muted"><i class="fab fa-twitter fa-lg"></i></a><a href="#" class="text-muted"><i class="fab fa-linkedin-in fa-lg"></i></a><a href="#" class="text-muted"><i class="fab fa-github fa-lg"></i></a></div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="footer-legal"></div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <div class="footer-legal">
                        <p><br><span style="font-weight: normal !important; color: rgb(107, 114, 128);">@ 2024 - TEDxLublin. All rights reserved</span><br><br></p>
                    </div>
                </div>
                <div class="col">
                    <div class="footer-legal">
                        <p><br><span style="font-weight: normal !important; color: rgb(107, 114, 128);">This independent TEDx event is operated under license from TED</span><br><br><br></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <hr class="mx-auto w-50 mb-5 mb-xl-9 border-dark-subtle">
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="/assets/js/sidebar.js"></script>
    <script src="/assets/js/swiper.js"></script>
    <script src="/assets/js/timer.js"></script>
</body>

</html>