
{% extends 'base.html' %}

{% block lang %}pl{% endblock %}

{% block preload %}
{% endblock %}

{% block extra_meta %}
<link rel="canonical" href="https://www.tedxlublin.org/pl/">
<meta name="description" content="Uzyskaj bezpośredni kontakt z organizatorami TEDxLublin.">

{% endblock %}

{% block title %}
Kontakt | TEDxLublin 2024: ACCELERATION
{% endblock %}

{% block og_tags %}
<meta property="og:title" content="Kontakt | TEDxLublin 2024: ACCELERATION">
<meta property="og:url" content="https://www.tedxlublin.org/pl/contact/">
{% endblock %}

{% block twitter_tags %}
<meta name="twitter:title" content="Kontakt | TEDxLublin 2024: ACCELERATION">
<meta property="twitter:url" content="https://www.tedxlublin.org/pl/contact/">
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block pre_js %}
{% endblock %}




{% block main %}
{% include 'pl/components/spacing_baner.html' %}
<section class="bg-light">
    <div class="container h-100">
        <div class="row pt-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2 class="fw-bold">SKONTAKTUJ SIĘ Z NAMI</h2>
                <hr class="mx-auto w-50 mb-5 mb-xl-9 border-dark-subtle">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col"><img class="rounded w-100 fit-contain" src="/assets/img/event_baners_vertical/baner_black.webp"></div>
            <div class="col d-flex flex-column justify-content-center p-4">
                <div class="text-md-start d-flex flex-column align-items-center align-items-md-start mb-5">
                    <div>
                        <h4 class="fw-bold">PARTNERZY</h4>
                        <p>Dołącz do grona wybitnych mówców i podziel się swoją wiedzą oraz doświadczeniem z szeroką publicznością. Twoje wystąpienie może inspirować, edukować i motywować innych do działania. Nie przegap tej wyjątkowej okazji, aby zostawić ślad na TEDx Lublin.</p><a href="{% url 'contact_partners' lang='pl' %}">Formularz dla partnerów&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-arrow-right">
                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"></path>
                            </svg></a>
                    </div>
                </div>
                <div class="text-md-start d-flex flex-column align-items-center align-items-md-start mb-5">
                    <div>
                        <h4 class="fw-bold">WOLONTARIUSZE</h4>
                        <p>Stań się częścią inspirującego zespołu TEDx Lublin! Jako wolontariusz będziesz miał okazję zdobyć cenne doświadczenie, poznać interesujących ludzi i przyczynić się do organizacji wydarzenia, które zmienia świat. Twoje zaangażowanie i pasja są dla nas bezcenne.</p><a href="{% url 'contact_volunteers' lang='pl' %}">Formularz dla wolontariuszy&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-arrow-right">
                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"></path>
                            </svg></a>
                    </div>
                </div>
                <div class="text-md-start d-flex flex-column align-items-center align-items-md-start">
                    <div>
                        <h4 class="fw-bold">PRELEGENCI</h4>
                        <p>Dołącz do grona wybitnych mówców i podziel się swoją wiedzą oraz doświadczeniem z szeroką publicznością. Twoje wystąpienie może inspirować, edukować i motywować innych do działania. Nie przegap tej wyjątkowej okazji, aby zostawić ślad na TEDx Lublin.</p><a href="{% url 'contact_speakers' lang='pl' %}">Formularz dla prelegentów&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-arrow-right">
                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"></path>
                            </svg></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="position-relative py-xl-5">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <hr class="mx-auto w-50 mb-5 mb-xl-9 border-dark-subtle">
                </div>
            </div>
        </div>
        <section class="position-relative">
            <div class="container position-relative">
                <div class="row">
                    <div class="col col-12">
                        <div>
                            <form class="p-3 p-xl-4" method="post">
                                <h4 class="fw-bold">WYŚLIJ WIADOMOŚĆ</h4>
                                <p class="text-muted">Masz pytania? Skontaktuj się z nami! Postaramy się jak najszybciej odpowiedzieć.</p>
                                <div class="mb-3"><label class="form-label" for="name">Imię i nazwisko</label><input class="form-control" type="text" id="name" name="name"></div>
                                <div class="mb-3"><label class="form-label" for="email">Email</label><input class="form-control" type="email" id="email" name="email"></div>
                                <div class="mb-3"><label class="form-label" for="message">Wiadomość</label><textarea class="form-control" id="message" name="message" rows="6"></textarea></div>
                                <div class="mb-3"><button class="btn btn-primary" type="submit">WYŚLIJ</button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</section>
    {% include 'pl/components/newsletter.html' %}
{% endblock %}

{% block extra_js %}
<script src="/assets/js/modals.js"></script>
{% endblock %}
