<!DOCTYPE html>
<html data-bs-theme="light" lang="pl">

<head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}" />
    <script defer src="https://cloud.umami.is/script.js" data-website-id="0d1f212a-7fa6-4a17-9ba8-7b501e4ba739"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>TEDxLublin 2024: ACCELERATE</title>
    <link rel="canonical" href="https://www.tedxlublin.live/templates/pl/tickets.html">
    <meta property="og:url" content="https://www.tedxlublin.live/templates/pl/tickets.html">
    <meta property="og:image" content="https://www.tedxlublin.live/assets/img/event_baners_horizontal/baner_white_v2.webp">
    <meta name="" content="">
    <meta name="description" content="Dołącz do nas na TEDxLublin 2024, gdzie motywem przewodnim jest &quot;ACCELERATE&quot;. Odkryj, jak przyspieszać zmiany w technologii, społeczeństwie i środowisku. Inspirujące wystąpienia, wizjonerscy mówcy i unikalne doświadczenia czekają na Ciebie 7 września w Lublinie. Zarezerwuj swoje miejsce już dziś!">
    <meta property="og:type" content="website">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/Helvetica.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="/assets/css/bs-theme-overrides.css">
    <link rel="stylesheet" href="/assets/css/animation.css">
    <link rel="stylesheet" href="/assets/css/faq.css">
    <link rel="stylesheet" href="/assets/css/footer.css">
    <link rel="stylesheet" href="/assets/css/footer-pl.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="/assets/css/navbar.css">
    <link rel="stylesheet" href="/assets/css/Simple-Slider-swiper-bundle.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <style>
        .interactive-div {
            cursor: pointer;
            padding: 20px;
            margin: 10px;
            text-align: center;
            border: 2px solid #ddd;
            transition: background-color 0.3s;
        }
        .interactive-div.active {
            background-color: #f0f0f0;
        }
    </style>
</head>

<body>
    <div id="background-container">
        <div class="bg"></div>
        <div class="bg bg-reverse"></div>
        <div class="bg bg2"></div>
        <div class="bg bg-reverse bg2"></div>
        <div class="w-100 h-100 dimmer"></div>
    </div>
    <div class="overlay"></div>
    <nav class="navbar fixed-top bg-body shadow navbar-expand-lg">
        <div class="container-fluid p-1 mx-3">
            <a class="navbar-brand p-0" href="{% url 'index' lang='pl' %}"><img src="/assets/img/logos/logo-black.png"></a>
            <div class="collapse navbar-collapse" style="font-weight:bold;">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'event' lang='pl' %}">ACCELERATE</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'about' lang='pl' %}">IDEA</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'team' lang='pl' %}">O NAS</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'partners' lang='pl' %}">PARTNERZY</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'contact' lang='pl' %}">KONTAKT</a></li>
                    <li class="nav-item"><a class="nav-link" id="tickets-btn" href="{% url 'tickets' lang='pl' %}">BILETY</a></li>
                    <li class="nav-item"><a class="nav-link rounded active" href="{% url 'game' lang='pl' %}" >🕹️</a></li>
                </ul>
            </div>
            <div class="sidebar">
                <div class="dismiss"><i class="fas fa-caret-left"></i></div>
                <div class="brand"><a class="{% url 'index' lang='pl' %}" href="/templates/pl/index.html"><img src="/assets/img/logos/logo-white-accelerate.png" width="100%"></a></div>
                <nav class="navbar navbar-expand navbar-dark">
                    <div class="container-fluid">
                        <ul class="navbar-nav flex-column me-auto">
                            <li class="nav-item"><a class="nav-link" href="{% url 'event' lang='pl' %}">ACCELERATE</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'about' lang='pl' %}">IDEA</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'team' lang='pl' %}">O NAS</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'partners' lang='pl' %}">PARTNERZY</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'contact' lang='pl' %}">KONTAKT</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'tickets' lang='pl' %}">BILETY</a></li>
                            <li class="nav-item"><a class="nav-link active" href="{% url 'game' lang='pl' %}">🕹️</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <button class="btn btn-primary d-flex open-menu sidebar-btn position-fixed d-lg-none" type="button"><i class="fa fa-navicon"></i></button>
        </div>
    </nav>
    <section class="bg-light" style="padding-top: 65px;">
        <div class="container">
            <div class="row justify-content-md-center my-3"></div>
        </div>
        <div class="pb-5 d-flex justify-content-center">
            <img id="qr-image" src="{% static 'img/game/qr.png' %}" alt="QR Code">
        </div>
        <div class="container">
            <div class="row justify-content-md-center my-3">
                Na naszej stronie generowany jest unikatowy QR code żeby użytkownicy/uczestnicy gry chodzili i pokazywali innym qr kody, a tamci dostają swój QR wygrywa ta osoba, która ma najwięcej zeskanowanych i zarejestrowanych osób.
            </div>
        </div>
            <div>Trzebaby jeszcze pomyśleć nad różnymi strategiami dla gier</div>
    </section>
    <!-- Interactive Divs Section -->
    <section class="bg-light" style="padding-top: 65px;">
        <div class="container">
            <div class="row justify-content-md-center my-3">
                Na naszej stronie generowany jest unikatowy QR code żeby użytkownicy/uczestnicy gry chodzili i pokazywali innym qr kody, a tamci dostają swój QR wygrywa ta osoba, która ma najwięcej zeskanowanych i zarejestrowanych osób.
            </div>
        <div class="container py-4 py-xl-5">
            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3 d-xl-flex">
                <div class="col">
                    <div class="interactive-div" id="div1" onclick="toggleState(this)">Click me!</div>
                </div>
                <div class="col">
                    <div class="interactive-div" id="div2" onclick="toggleState(this)">Click me too!</div>
                </div>
                <div class="col">
                    <div class="interactive-div" id="div3" onclick="toggleState(this)">Click me as well!</div>
                </div>
            </div>
        </div>
    </section>
   
    <footer class="page-footer shadow-lg p-3">
        <div class="container p-3">
            <div class="row">
                <div class="col">
                    <div class="region py-1"><a href="{% url 'event' lang='pl' %}"><img class="m-1" src="/assets/img/logos/logo-black.png"></a></div>
                </div>
            </div>
            <div class="row g-4">
                <div class="col col-12 col-md-6 col-lg-3">
                    <h5 class="text-uppercase mb-3">Accelerate 2024</h5>
                    <ul class="list-unstyled">
                        <li><a class="text-muted text-decoration-none" href="{% url 'event' lang='pl' %}">Wydarzenie</a></li>
                        <li><a class="text-muted text-decoration-none" href="{% url 'tickets' lang='pl' %}">Bilety</a></li>
                        <li><a class="text-muted text-decoration-none" href="{% url 'partners' lang='pl' %}">Partnerzy</a></li>
                    </ul>
                </div>
                <div class="col col-12 col-md-6 col-lg-3">
                    <h5 class="text-uppercase mb-3">informacje</h5>
                    <ul class="list-unstyled">
                        <li><a class="text-muted text-decoration-none" href="{% url 'about' lang='pl' %}">Idea</a></li>
                        <li><a class="text-muted text-decoration-none" href="{% url 'team' lang='pl' %}">O nas</a></li>
                        <li><a class="text-muted text-decoration-none" href="{% url 'contact' lang='pl' %}">Kontakt</a></li>
                    </ul>
                </div>
                <div class="col col-md-6 col-lg-3">
                    <h5 class="text-uppercase mb-3">dołącz</h5>
                    <ul class="list-unstyled">
                        <li class="{% url 'event' lang='pl' %}"><a class="text-muted text-decoration-none" href="{% url 'contact_speakers' lang='pl' %}">Prelegenci</a></li>
                        <li><a class="text-muted text-decoration-none" href="{% url 'contact_partners' lang='pl' %}">Partnerzy</a></li>
                        <li><a class="text-muted text-decoration-none" href="{% url 'contact_volunteers' lang='pl' %}">Wolontariusze</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-6 col-lg-3">
                    <h5 class="text-uppercase mb-3">bądź na bieżąco</h5>
                    <div class="d-flex gap-3"><a class="text-muted" href="https://www.facebook.com/TEDxLublin"><i class="fab fa-facebook-f fa-lg"></i></a><a class="text-muted" href="https://www.instagram.com/tedxlublin/"><i class="fab fa-instagram fa-lg"></i></a><a class="text-muted" href="https://www.linkedin.com/company/tedxlublin"><i class="fab fa-linkedin-in fa-lg"></i></a></div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="footer-legal"></div>
                </div>
            </div>
            <hr class="mx-auto w-10 mb-5 mb-xl-9 border-dark-subtle">
            <div class="row">
                <div class="col col-6 col-xs-6 col-lg-4">
                    <div class="footer-legal">
                        <p><sub style="font-weight:normal;color:rgb(107, 114, 128);">@ 2024 - TEDxLublin. Wszystkie prawa zastrzeżone.</sub></p>
                    </div>
                </div>
                <div class="col col-6 col-xs-6 col-lg-4">
                    <div class="footer-legal">
                        <p><sub style="font-weight:normal;color:rgb(107, 114, 128);">To niezależne wydarzenie TEDx jest organizowane na licencji TED</sub></p>
                    </div>
                </div>
                <div class="col col-sm-12 col-lg-4">
                    <div class="d-xxl-flex justify-content-xxl-end footer-legal">
                        <p style="text-align:right;"><sub style="font-weight:normal;color:rgb(107, 114, 128);">Website design by Artur Podsiadły<br><a href="https://www.linkedin.com/in/artpods56/" target="_blank">artpods56@gmail.com</a></sub></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="/assets/js/sidebar.js"></script>
    <script src="/assets/js/swiper.js"></script>
    <script src="/assets/js/timer.js"></script>
    <script>
        function toggleState(element) {
            element.classList.toggle('active');
            element.textContent = element.classList.contains('active') ? 'Click to deactivate!' : 'Click to activate!';
        }
    </script>
</body>

</html>
