
{% extends 'base.html' %}

{% block lang %}pl{% endblock %}

{% block preload %}
<link rel="preload" href="/assets/img/photos/others/IMG_6620.webp" as="image">
<link rel="preload" href="/assets/img/logos/tedxlublin/black_background_logo.png" as="image">
{% endblock %}

{% block extra_meta %}
<link rel="canonical" href="https://www.tedxlublin.org/pl/">
<meta name="description" content="Zostań partnerem TEDxLublin i wspólnie budujmy wydarzenia, które łączą i inspirują ludzi.">

{% endblock %}

{% block title %}
Partnerzy | TEDxLublin 2024: ACCELERATION
{% endblock %}

{% block og_tags %}
<meta property="og:title" content="Partnerzy | TEDxLublin 2024: ACCELERATION">
<meta property="og:url" content="https://www.tedxlublin.org/pl/partners/">
{% endblock %}

{% block twitter_tags %}
<meta name="twitter:title" content="Partnerzy | TEDxLublin 2024: ACCELERATION">
<meta property="twitter:url" content="https://www.tedxlublin.org/pl/partners/">
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block pre_js %}
{% endblock %}




{% block main %}
{% include 'pl/components/spacing_baner.html' %}
    <section class="py-3 py-md-5 py-xl-8 shadow-lg bg-light">
        <div class="container">
            <div class="row justify-content-md-center pt-2">
                <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
                    <h2 class="text-uppercase fs-6 text-center text-secondary mb-2">przy tworzeniu wydarzenia wsparli nas nasi</h2>
                    <h2 class="text-uppercase fw-bold mb-3 text-center">partnerzy i sponsorzy</h2>
                    <hr class="mx-auto w-50 mb-5 mb-xl-9 border-dark-subtle">
                </div>
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row">
                <div class="col col-12 col-md-6">
                    <div class="text-secondary bg-light px-4 py-3 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/lublinmi.png" width="100%"></div>
                </div>
                <div class="col col-12 col-md-6">
                    <div class="text-secondary bg-light px-4 py-3 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/teatrstary.png" width="100%"></div>
                </div>
            </div>
            <div class="row gy-4">
                <div class="col-6 col-md-4 col-xl-3 text-center">
                    <div class="text-secondary bg-light px-4 py-3 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/lublinesm.png" width="100%" /></div>
                </div>
                <div class="col-6 col-md-4 col-xl-3 text-center">
                    <div class="text-secondary bg-light px-4 py-3 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/lublinpik.png" width="100%" /></div>
                </div>
                <div class="col-6 col-md-4 col-xl-3 text-center">
                    <div class="text-secondary bg-light px-4 py-3 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/perlowapijalniapiwa.png" width="100%" /></div>
                </div>
                <div class="col-6 col-md-4 col-xl-3 text-center">
                    <div class="text-secondary bg-light px-4 py-3 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/skarbyserowara.png" width="100%" /></div>
                </div>
                <div class="col-6 col-md-4 col-xl-3 text-center">
                    <div class="text-secondary bg-light px-4 py-3 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/medisept.png" width="100%"></div>
                </div>
                <div class="col-6 col-md-4 col-xl-3 text-center">
                    <div class="text-secondary bg-light px-4 py-3 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/polawiaczeperel.png" width="100%"></div>
                </div>
                <div class="col-6 col-md-4 col-xl-3 text-center">
                    <div class="text-secondary bg-light px-4 py-3 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/nancy_accessories.png" width="100%"></div>
                </div>
                <div class="col-6 col-md-4 col-xl-3 text-center">
                    <div class="text-secondary bg-light px-4 py-3 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/look_as_photographer.png" width="100%"></div>
                </div>
                <div class="col-6 col-md-4 col-xl-3 text-center">
                    <div class="text-secondary bg-light px-4 py-3 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/jz.png" width="100%"></div>
                </div>
                <div class="col-6 col-md-4 col-xl-3 text-center">
                    <div class="text-secondary bg-light px-4 py-3 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/lublin_game_spot.png" width="100%"></div>
                </div>
                <div class="col-6 col-md-4 col-xl-3 text-center">
                    <div class="text-secondary bg-light px-4 py-3 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/mtrojanowska.png" width="100%"></div>
                </div>
                <div class="col-6 col-md-4 col-xl-3 text-center">
                    <div class="text-secondary bg-light px-4 py-3 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/avalon.png" width="100%"></div>
                </div>
                <div class="col-6 col-md-4 col-xl-3 text-center">
                    <div class="text-secondary bg-light px-4 py-3 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/baobab.png" width="100%"></div>
                </div>
                <div class="col-6 col-md-4 col-xl-3 text-center">
                    <div class="text-secondary bg-light px-4 py-3 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/bizitok.png" width="100%"></div>
                </div>
                <div class="col-6 col-md-4 col-xl-3 text-center">
                    <div class="text-secondary bg-light px-4 py-3 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/pizzalover.png" width="100%"></div>
                </div>
                <div class="col-6 col-md-4 col-xl-3 text-center">
                    <div class="text-secondary bg-light px-4 py-3 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/pcsi.png" width="100%"></div>
                </div>
                <div class="col-6 col-md-4 col-xl-3 text-center">
                    <div class="text-secondary bg-light px-4 py-3 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/homofaber.png" width="100%"></div>
                </div>

            </div>
        </div>
    </section>

    {% include 'pl/components/newsletter.html' %}
{% endblock %}

{% block extra_js %}
<script src="/assets/js/modals.js"></script>
{% endblock %}
