<!DOCTYPE html>
<html data-bs-theme="light" lang="pl">

<head>
    <meta charset="utf-8">
{% load static %}
</style>
    <link rel="preload" href="/assets/fonts/Helvetica-39e6ed7f48ac27598840a4893c8f93c8.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/img/event_baners_horizontal/baner_transparent_black_font.webp" as="image">
    <link rel="preload" href="/assets/img/event_baners_vertical/baner_transparent_black_font.webp" as="image">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" />
	<script defer src="https://cloud.umami.is/script.js" data-website-id="0d1f212a-7fa6-4a17-9ba8-7b501e4ba739"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>TEDxLublin: 2024 - ACCELERATION | Bilety</title>
    <link rel="canonical" href="https://www.tedxlublin.org/pl/tickets.html">
    <meta property="og:url" content="https://www.tedxlublin.org/pl/tickets.html">
    <meta property="og:image" content="https://www.tedxlublin.org/assets/img/event_baners_horizontal/baner_white_v2.webp">
    <meta name="" content="">
    <meta property="og:type" content="website">
    <meta name="description" content="Kup bilety na TEDxLublin 2024. Zarezerwuj swoje miejsce na wydarzeniu pełnym inspirujących wystąpień i wyjątkowych pokazów. Nie przegap tej okazji!">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/styles.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
</head>

<body>
    <div id="background-container">
        <div class="bg"></div>
        <div class="bg bg-reverse"></div>
        <div class="bg bg2"></div>
        <div class="bg bg-reverse bg2"></div>
        <div class="w-100 h-100 dimmer"></div>
    </div>
    {% include 'pl/components/navbar.html' %}
    <section class="bg-light" style="padding-top: 65px;">
        <div class="container">
            <div class="row justify-content-md-center my-3">
                <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
                    <h2 class="text-uppercase fs-6 text-center text-secondary mb-2">przygotuj się na</h2>
                    <h2 class="text-uppercase fw-bold mb-3 text-center">nasze nadchodzące wydarzenie</h2>
                    <hr class="mx-auto w-50 mb-xl-9 border-dark-subtle">
                </div>
            </div>
        </div>
        <div class="pb-5 d-flex justify-content-center"><img id="index-event-img"></div>
    </section>
    <section class="p-3 py-xl-5 bg-light">
        <div class="container">
            <div class="row px-3">
                <div class="col col-12">
                    <div class="w-100">
                        <h2 class="fw-bold">BILETY</h2><p>Sprzedaż biletów odbywa się za pośrednictwem platformy <a href="https://app.evenea.pl/event/tedxlublin2024/" target="_blank">evenea</a>.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container bg-white rounded shadow-sm"><iframe id="ticket-iframe" src="{% url 'tickets_iframe'%}" width="100%" scrolling="no" class="rounded" frameborder="0"></iframe></div>
    </section>
    <section class="py-3 py-md-5 py-xl-8 shadow-lg bg-light">
        <div class="container">
            <div class="row justify-content-md-center pt-2">
                <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
                    <h2 class="text-uppercase fs-6 text-center text-secondary mb-2">przy tworzeniu wydarzenia wsparli nas nasi</h2>
                    <h2 class="text-uppercase fw-bold mb-3 text-center">partnerzy i sponsorzy</h2>
                    <hr class="mx-auto w-50 mb-5 mb-xl-9 border-dark-subtle">
                </div>
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row">
                <div class="col col-12 col-md-6">
                    <div class="text-secondary bg-light px-4 py-3 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/lublinmi.png" width="100%"></div>
                </div>
                <div class="col col-12 col-md-6">
                    <div class="text-secondary bg-light px-4 py-3 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/teatrstary.png" width="100%"></div>
                </div>
            </div>
            <div class="row gy-4">
                <div class="col-6 col-md-4 col-xl-3 text-center">
                    <div class="text-secondary bg-light px-4 py-3 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/lublinesm.png" width="100%" /></div>
                </div>
                <div class="col-6 col-md-4 col-xl-3 text-center">
                    <div class="text-secondary bg-light px-4 py-3 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/lublinpik.png" width="100%" /></div>
                </div>
                <div class="col-6 col-md-4 col-xl-3 text-center">
                    <div class="text-secondary bg-light px-4 py-3 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/perlowapijalniapiwa.png" width="100%" /></div>
                </div>
                <div class="col-6 col-md-4 col-xl-3 text-center">
                    <div class="text-secondary bg-light px-4 py-3 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/skarbyserowara.png" width="100%" /></div>
                </div>
                <div class="col-6 col-md-4 col-xl-3 text-center">
                    <div class="text-secondary bg-light px-4 py-3 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/medisept.png" width="100%" loading="lazy" ></div>
                </div>
                <div class="col-6 col-md-4 col-xl-3 text-center">
                    <div class="text-secondary bg-light px-4 py-3 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/polawiaczeperel.png" width="100%" loading="lazy" ></div>
                </div>
                <div class="col-6 col-md-4 col-xl-3 text-center">
                    <div class="text-secondary bg-light px-4 py-3 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/nancy_accessories.png" width="100%" loading="lazy" ></div>
                </div>
                <div class="col-6 col-md-4 col-xl-3 text-center">
                    <div class="text-secondary bg-light px-4 py-3 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/look_as_photographer.png" width="100%" loading="lazy" ></div>
                </div>
                <div class="col-6 col-md-4 col-xl-3 text-center">
                    <div class="text-secondary bg-light px-4 py-3 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/jz.png" width="100%" loading="lazy" ></div>
                </div>
                <div class="col-6 col-md-4 col-xl-3 text-center">
                    <div class="text-secondary bg-light px-4 py-3 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/lublin_game_spot.png" width="100%" loading="lazy" ></div>
                </div>
                <div class="col-6 col-md-4 col-xl-3 text-center">
                    <div class="text-secondary bg-light px-4 py-3 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/mtrojanowska.png" width="100%" loading="lazy" ></div>
                </div>
                <div class="col-6 col-md-4 col-xl-3 text-center">
                    <div class="text-secondary bg-light px-4 py-3 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/avalon.png" width="100%" loading="lazy" ></div>
                </div>
                <div class="col-6 col-md-4 col-xl-3 text-center">
                    <div class="text-secondary bg-light px-4 py-3 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/baobab.png" width="100%" loading="lazy" ></div>
                </div>
                <div class="col-6 col-md-4 col-xl-3 text-center">
                    <div class="text-secondary bg-light px-4 py-3 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/bizitok.png" width="100%" loading="lazy" ></div>
                </div>
                <div class="col-6 col-md-4 col-xl-3 text-center">
                    <div class="text-secondary bg-light px-4 py-3 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/pizzalover.png" width="100%" loading="lazy" ></div>
                </div>
                <div class="col-6 col-md-4 col-xl-3 text-center">
                    <div class="text-secondary bg-light px-4 py-3 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/homofaber.png" width="100%" loading="lazy" ></div>
                </div>
                <div class="col-6 col-md-4 col-xl-3 text-center">
                    <div class="text-secondary bg-light px-4 py-3 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/pcsi.png" width="100%" loading="lazy" ></div>
                </div>

            </div>
        </div>
    </section>
    <section class="bg-light">
        <div class="container" style="background: url(&quot;accelerate-arrows.png&quot;) right/ contain no-repeat;">
            <div class="row h-100">
                <div class="col text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center align-items-md-center justify-content-xl-center py-5 col-12">
                    <div style="max-width: 350px;">
                        <h1 class="fw-bold">Gotowy na przyspieszenie z&nbsp;<span style="color:var(--tedx-red);">TEDx</span>?</h1>
                        <p class="my-3">Sprzedaż biletów rozpoczyna się już w krótce, sprawdź najważniejsze informacje dotyczące wydarzenia.</p><a href="{% url 'event' lang='pl' %}"><a class="btn btn-primary btn-lg me-2" role="button" href="#">ACCELERATION</a></a><a href="#"><a class="btn btn-outline-primary btn-lg" role="button" href="#">FAQ</a></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="newsletter-subscribe p-3 py-xl-5">
        <div class="container">
            <div class="row py-3">
                <div class="col-md-8 col-xl-6 mx-auto text-white">
                    <h2 class="display-6 lead display-shadow">Subskrybuj nasz newsletter</h2>
                    <p class="display-shadow">Chcesz być na bieżąco z najnowszymi informacjami o TEDxLublin? Zapisz się do naszego newslettera, aby otrzymywać ekskluzywne aktualizacje związane z naszymi wydarzeniami oraz wiele więcej.</p>
                    <form class="d-flex flex-wrap" method="post" action="{% url 'subscribe_newsletter' %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col p-1 col-12 col-sm-6 col-md-4">
                                {{ newsletter_form.name }}
                            </div>
                            <div class="col p-1 col-12 col-sm-6 col-md-4">
                                {{ newsletter_form.email }}
                            </div>
                            <div class="col p-1 col-12 col-md-4">
                                <button  id="subscribe-button" class="btn btn-primary" type="button" >Subskrybuj</button>
                            </div>
                        </div>

                </div>
            </div>
        </div>
    </section>
    <!-- Confirmation Modal -->
    <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background: url('/assets/img/elements/accelerate_arrows_black_xl.png') center / cover no-repeat;height: 70px;">
                    <h2 class="m-0">Newsletter</h2>
                    <button class="btn-close" aria-label="Close" data-bs-dismiss="modal" type="button"></button></div>
                <div class="modal-body">
                    <p>Potwierdź chęć subskrypcji naszego newslettera.</p>
                    <div class="form-check">{{ newsletter_form.privacy_policy }}<label class="form-label form-check-label" for="privacyPolicy" style="font-size: 0.8rem;"> Akceptuję <a href="{% url 'privacy_policy' lang='pl' %}">Politykę Prywatności. </a></label></div>
                    <div class="form-check mt-2">{{ newsletter_form.marketing_consent }}<label class="form-label form-check-label" for="marketingConsent" style="font-size: 0.8rem;"> Wyrażam zgodę na otrzymywanie bezpłatnych dotyczących działalności organizacji TEDxLublin w formie newslettera na warunkach określonych w naszym <a href="{% url 'terms_and_conditions' lang='pl' %}">Regulaminie</a>. </label></div>
                    <small>Używamy MailerLite jako naszej platformy marketingowej. Klikając poniżej potwierdzasz, że Twoje dane zostaną przesłane do MailerLite w celu przetworzenia. </small>
                    <p style="font-size: 0.7rem;"><a href="https://www.mailerlite.com/legal/privacy-policy" target="_blank">Więcej informacji na temat praktyk ochrony prywatności MailerLite można znaleźć tutaj.</a></p>
                </div>
                <div class="modal-footer"><button class="btn btn-dark" data-bs-dismiss="modal" type="button">Anuluj</button><button id="confirmSubscription" class="btn btn-primary" type="submit">Potwierdź</button></div>
            </form>
            </div>
        </div>
    </div>
    {% include 'pl/components/newsletter.html' %}
    {% include 'pl/components/footer.html' %}
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="/assets/js/script.min.js"></script>
    <script src="/assets/js/modals.js"></script>
</body>

</html>