
{% extends 'base.html' %}

{% block lang %}pl{% endblock %}

{% block preload %}
<link rel="preload" href="/assets/img/photos/others/IMG_6620.webp" as="image">
<link rel="preload" href="/assets/img/logos/tedxlublin/black_background_logo.png" as="image">
{% endblock %}

{% block extra_meta %}
<link rel="canonical" href="https://www.tedxlublin.org/pl/">
<meta name="description" content="Bilety na wydarzenia TEDxLublin. Zarezerwuj swoje miejsce na najbliższej konferencji pełnej inspirujących wystąpień i networkingu.">

{% endblock %}

{% block title %}
Bilety | TEDxLublin 2024: ACCELERATION
{% endblock %}

{% block og_tags %}
<meta property="og:title" content="Bilety | TEDxLublin 2024: ACCELERATION">
<meta property="og:url" content="https://www.tedxlublin.org/pl/tickets/">
{% endblock %}

{% block twitter_tags %}
<meta name="twitter:title" content="Bilety | TEDxLublin 2024: ACCELERATION">
<meta property="twitter:url" content="https://www.tedxlublin.org/pl/tickets/">
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block pre_js %}
{% endblock %}




{% block main %}
<section class="bg-light" style="padding-top: 65px;">
    <div class="container">
        <div class="row justify-content-md-center my-3">
            <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
                <h2 class="text-uppercase fs-6 text-center text-secondary mb-2">przygotuj się na</h2>
                <h2 class="text-uppercase fw-bold mb-3 text-center">nasze nadchodzące wydarzenie</h2>
                <hr class="mx-auto w-50 mb-xl-9 border-dark-subtle">
            </div>
        </div>
    </div>
    <div class="pb-5 d-flex justify-content-center"><img id="index-event-img"></div>
</section>
<section class="p-3 py-xl-5 bg-light">
    <div class="container">
        <div class="row px-3">
            <div class="col col-12">
                <div class="w-100">
                    <h2 class="fw-bold">BILETY</h2><p>Sprzedaż biletów odbywa się za pośrednictwem platformy <a href="https://app.evenea.pl/event/tedxlublin2024/" target="_blank">evenea</a>.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container bg-white rounded shadow-sm"><iframe id="ticket-iframe" src="{% url 'tickets_iframe'%}" width="100%" scrolling="no" class="rounded" frameborder="0"></iframe></div>
</section>

{% include 'pl/components/partners.html' %}

<section class="bg-light">
    <div class="container" style="background: url(&quot;accelerate-arrows.png&quot;) right/ contain no-repeat;">
        <div class="row h-100">
            <div class="col text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center align-items-md-center justify-content-xl-center py-5 col-12">
                <div style="max-width: 350px;">
                    <h1 class="fw-bold">Gotowy na przyspieszenie z&nbsp;<span style="color:var(--tedx-red);">TEDx</span>?</h1>
                    <p class="my-3">Sprzedaż biletów rozpoczyna się już w krótce, sprawdź najważniejsze informacje dotyczące wydarzenia.</p><a href="{% url 'event' lang='pl' %}"><a class="btn btn-primary btn-lg me-2" role="button" href="#">ACCELERATION</a></a><a href="#"><a class="btn btn-outline-primary btn-lg" role="button" href="#">FAQ</a></a>
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'pl/components/newsletter.html' %}
{% endblock %}

{% block extra_js %}
<script src="/assets/js/modals.js"></script>
{% endblock %}
