<section class="py-3 py-md-5 py-xl-8 shadow-lg bg-light">

    <div class="container">
        <div class="row justify-content-md-center pt-2">
            <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
                <h2 class="text-uppercase fs-6 text-center text-secondary mb-2">przy tworzeniu wydarzenia wsparli nas</h2>
                <h2 class="text-uppercase fw-bold mb-3 text-center">patronat honorowy</h2>
                <hr class="mx-auto w-50 border-dark-subtle">
            </div>
        </div>
    </div>
    
    <div class="container overflow-hidden">
        <div class="row">
            <div class="d-flex justify-content-center">
                <div class="row row-cols-1">
                    <div class=""><img src="/assets/img/logos/sponsors/accelerate_2024/patronatprezydentalublin.png" width="100%"></div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col col-12">
                <h2 class="text-uppercase fw-bold mb-3 text-center">partnerzy strategiczni</h2>
                <hr class="mx-auto w-50 border-dark-subtle">
            </div>
        </div>

        <div class="row row-cols-2 row-cols-md-3">
            <div class="col">
                <div class="px-2 py-1 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/lublinmi.png" width="100%"></div>
            </div>
            <div class="col">
                <div class="px-2 py-1 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/teatrstary.png" width="100%"></div>
            </div>
            <div class="col">
                <div class="px-2 py-1 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/medisept.png" width="100%"></div>
            </div>
            <div class="col">
                <div class="px-2 py-1 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/avalon.png" width="100%"></div>
            </div>
            <div class="col">
                <div class="px-2 py-1 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/skarbyserowara.png" width="100%" /></div>
            </div>
            <div class="col">
                <div class="px-2 py-1 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/lublinprzedsiebiorczykreatywny.png" width="100%" /></div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col col-12">
                <h2 class="text-uppercase fw-bold mb-3 text-center">partnerzy</h2>
                <hr class="mx-auto w-50 border-dark-subtle">
            </div>
        </div>

        <div class="row  row-cols-2 row-cols-md-4  d-flex justify-content-center">
            <div class="col">
                <div class="px-2 py-1 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/lubelskawyzynait.png" width="100%" /></div>
            </div>
            <div class="col">
                <div class="px-2 py-1 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/lublinpik.png" width="100%" /></div>
            </div>
            <div class="col">
                <div class="px-2 py-1 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/perlowapijalniapiwa.png" width="100%" /></div>
            </div>
            <div class="col">
                <div class="px-2 py-1 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/polawiaczeperel.png" width="100%"></div>
            </div>
            <div class="col">
                <div class="px-2 py-1 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/budkakuglarska.png" width="100%"></div>
            </div>
            <div class="col">
                <div class="px-2 py-1 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/dmk.png" width="100%"></div>
            </div>
            <div class="col">
                <div class="px-2 py-1 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/nancy_accessories.png" width="100%"></div>
            </div>
            <div class="col">
                <div class="px-2 py-1 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/renatapisze.png" width="100%"></div>
            </div>
            <div class="col">
                <div class="px-2 py-1 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/look_as_photographer.png" width="100%"></div>
            </div>
            <div class="col">
                <div class="px-2 py-1 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/jz.png" width="100%"></div>
            </div>
            <div class="col">
                <div class="px-2 py-1 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/lublin_game_spot.png" width="100%"></div>
            </div>
            <div class="col">
                <div class="px-2 py-1 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/mtrojanowska.png" width="100%"></div>
            </div>
            <div class="col">
                <div class="px-2 py-1 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/rzymhurtowniareklamowa.png" width="100%"></div>
            </div>
            <div class="col">
                <div class="px-2 py-1 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/baobab.png" width="100%"></div>
            </div>
            <div class="col">
                <div class="px-2 py-1 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/naleczowianka.png" width="100%"></div>
            </div>
            <div class="col">
                <div class="px-2 py-1 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/serce.png" width="100%"></div>
            </div>
            <div class="col">
                <div class="px-2 py-1 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/homofaber.png" width="100%"></div>
            </div>
            <div class="col">
                <div class="px-2 py-1 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/browarperlaapartamenty.png" width="100%"></div>
            </div>
            <div class="col">
                <div class="px-2 py-1 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/mandragora.png" width="100%"></div>
            </div>
            <div class="col">
                <div class="px-2 py-1 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/pizzalover.png" width="100%"></div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col col-12">
                <h2 class="text-uppercase fw-bold mb-3 text-center">partnerzy medialni</h2>
                <hr class="mx-auto w-50 border-dark-subtle">
            </div>
        </div>
        <div class="row row-cols-2 row-cols-md-4 d-flex justify-content-center">
            <div class="col">
                <div class="px-2 py-1 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/tvp3lublin.png" width="100%"></div>
            </div>
            <div class="col">
                <div class="px-2 py-1 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/lublineskk.png" width="100%" /></div>
            </div>
            <div class="col">
                <div class="px-2 py-1 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/spottedlublin.png" width="100%" /></div>
            </div>
            <div class="col">
                <div class="px-2 py-1 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/fundacjaekoprzestrzen.png" width="100%"></div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col col-12">
                <h2 class="text-uppercase fw-bold mb-3 text-center">organizatorzy</h2>
                <hr class="mx-auto w-50 border-dark-subtle">
            </div>
        </div>
        <div class="row row-cols-2">
        <div class="col">
            <div class="px-2 py-1 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/bizitok.png" width="100%"></div>
        </div>
        <div class="col">
            <div class="px-2 py-1 px-md-6 py-md-4 px-lg-8 py-lg-5"><img src="/assets/img/logos/sponsors/accelerate_2024/pcsi.png" width="100%"></div>
        </div>
        </div>
    </div>
</section>
